<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h3><%= @restaurant.address %></h3>
  <p><%= @restaurant.category %></p>
  <p><%= @restaurant.phone_number %></p>
  <%= link_to 'Reviews', restaurant_reviews_path(@restaurant), class: 'btn btn-primary' %>
</div>
